body{
    background-image: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.container {
    background-image: linear-gradient(0.25turn, #bdbdbd, #ebf8e1, #bdbdbd);
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1 / 1.25;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box; /* Include padding and border in the width calculation */
    border-radius: 10px;
    outline: #838383 solid 5px;
}

.display-class{
    width: fit-content;
    max-width: 100%;
    height: 20%;
    margin-right: 4%;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.display-num{
    font-size: 3.5em;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Add media query for smaller screens to adjust the container size */
@media (max-width: 600px) {
    .container {
        width: 90%; /* Adjust as needed */
        max-width: none;
    }
}

.flex-grid{
    width: 100%;
    aspect-ratio: 1 / 1;
    position: absolute;
    bottom: 0px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    border-top: #838383 solid 5px;
    background-color: #868686c2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button-class{
    margin: 5px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #838383;
    outline: solid black 1px;
}

.zero-button{
    grid-column: 1 / 3;
}

.operator-button{
    background-color: #f69d3c;
}

.top-operator-button{
    background-color: #c4c4c4;
}

.equal-button{
    background-color: #3f87a6;
}

.button-class:hover {
    filter: brightness(120%) !important;
    cursor: pointer;
}